In [774]:
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [775]:
url = 'https://www.tmz.com'
req = requests.get(url)
doc = BeautifulSoup(req.text)

In [776]:
stories = []
for trash in doc.select(f'header > a > h2'):
        raw = trash.text
        story = {}
        story = raw.strip().replace("\n", " ")
        stories.append(story)

In [777]:
stories

['BTS Fans Can Live Like K-Pop Superstars In Same House BTS Filmed Reality Show',
 'HANK WILLIAMS JR. WIFE DIED FROM COLLAPSED LUNG Following Cosmetic Surgery',
 "Shareef O'Neal Shaq's Son Signs 6-Figure Contract ... With G League Ignite",
 "Britney Spears Records New 'Tiny Dancer' Rendition With Elton John Himself!!!",
 'Johnny Manziel Ex Bre Tiesi Gives Birth To Baby Son ... With Nick Cannon',
 "'Goodfellas' Star Paul Sorvino Dead at 83",
 "Raising Cane's Owner Buys 50k Lotto Tix ... One For Each Employee!!!",
 "Packers' AJ Dillon Cop Shoves Star RB At Lambeau Field Police Launch Internal Review",
 'Lynne Spears I Love You, Britney!!!',
 'Texas Anti-Abortion Law TX Legislators Threaten Major Law Firm ... Lawyers Who Facilitate Abortions will be Prosecuted, Disbarred',
 "Kylie Jenner Leaves Pregnant Emojis On Travis Scott's Post ... Baby #3???",
 "Jamie Lynn Spears Didn't Meet with Pops During COVID ... Despite Britney's Claim",
 'Ben Affleck Breaks Down Crying on Honeymoon ... J Lo Consoles Him at Dinner',
 "Elon Musk Denies Reported Affair ... I Haven't Had Sex in Forever!!!",
 "Lil Wayne 'Farewell Uncle Bob' ... Life-Saving Officer Dies In New Orleans",
 'Chucky Kid Dresses as Killer Doll Freaks Out Whole AL Neighborhood!!!']

In [778]:
stories = pd.DataFrame(columns=['headline', 'timestamp', 'text'])
test = doc.select(".article")
paragraphs = []
count = 0
for p in test:
    para = test[count].text
    para = para.strip().replace("\n", " ")
    paragraphs.append(para)
    count += 1
headline = paragraphs[0].split("PT")
text = headline[1]
timestamp = headline[0][-20:]
timestamp = timestamp.strip()
headline = headline[0][:-20]
headline = headline.split("  ")
headline = headline[0].upper()
story = {
    "headline": headline,
    "timestamp": timestamp,
    "text": text
}

text = text.replace("Play video content", "")
print("- - -")
print(headline)
print(timestamp)
print(text)

# print(headline)
# print(timestamp)
# print(test)

- - -
BTS FANS CAN LIVE LIKE K-POP SUPERSTARS IN SAME HOUSE BTS FILMED REALITY SHOW
7/25/2022 4:00 PM
                                                          DYNAMITE DIGS  Mind&Details      BTS fans finally have their chance to live just like their favorite boy band ... the house the K-Pop superstars once called home is now available for a once-in-a-lifetime overnight stay.   Airbnb is giving two lucky fans the chance to rest their heads in the same house the group lived in while filming season 2 of "IN THE SOOP BTS" in PyeongChang, South Korea.        Gallery   Launch Gallery   Inside The BTS Estate                Launch Gallery                 Gallery      Time of Blue     The homes got plenty of features to make sure none of BTS' seven members ever got bored, and guests will be able to enjoy them as well ... including an outdoor pool with a unicorn-shaped float, a basketball court, a karaoke machine, and sound system and all of BTS hit tracks and albums.            Time of Blue       Guests won't go hungry either ... with catered dishes that have been BTS approved -- including charcoal grilled Korean beef, which the boy band dubbed, "the best taste in the universe."        Airbnb will offer the one-night stay in a raffle next month with entries at $7 a pop -- in honor of the 7 members of the band.        Gallery   Launch Gallery   BTS Performance Pics                Launch Gallery                 Gallery      Getty     Entries open up for booking on August 1st.                             Share on Facebook                          TWEET This                           Related Articles                                                          BTS Not Really Going On Hiatus, Confusion with Translation, Says Management                                                                      BTS Makes Appearance at White House Press Briefing to Talk Anti-Asian Hate                                                         BTS                                         Reality TV                                         Exclusive                                         Music

In [763]:
type(text)

str

In [758]:
story['text'] = story['text'].strip()

In [759]:
story['text'] = story

In [760]:
stories = stories.append(story, ignore_index=True)
print(stories.head())

                                            headline          timestamp  \
0  BTS FANS CAN LIVE LIKE K-POP SUPERSTARS IN SAM...  7/25/2022 4:00 PM

                                                text
0  {'headline': 'BTS FANS CAN LIVE LIKE K-POP SUP...

/var/folders/m9/kw6252cj3lqgftmsg97nw4z80000gn/T/ipykernel_51332/2941798289.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  stories = stories.append(story, ignore_index=True)

In [392]:
import sidetable

In [393]:
def generalize(ser, match_name, default=None, regex=False, case=False):
    """ Search a series for text matches.
    Based on code from https://www.metasnake.com/blog/pydata-assign.html

    ser: pandas series to search
    match_name: tuple containing text to search for and text to use for normalization
    default: If no match, use this to provide a default value, otherwise use the original text
    regex: Boolean to indicate if match_name contains a  regular expression
    case: Case sensitive search

    Returns a pandas series with the matched value

    """
    seen = None
    for match, name in match_name:
        mask = ser.str.contains(match, case=case, regex=regex)
        if seen is None:
            seen = mask
        else:
            seen |= mask
        ser = ser.where(~mask, name)
    if default:
        ser = ser.where(seen, default)
    else:
        ser = ser.where(seen, ser.values)
    return ser